## Ejercicio Bolsa Solucionado

El objetivo es agrupar un conjunto de valores de bolsa de acuerdo a su comportamiento.

### Obtención de datos desde Google

Utilizamos Pandas y la API de Yahoo para obtener datos de bolsa

In [2]:
!pip install yfinance --upgrade --no-cache-dir

Collecting yfinance
  Downloading yfinance-0.1.55.tar.gz (23 kB)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.1.3)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.19.2)
Requirement already satisfied, skipping upgrade: requests>=2.20 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.24.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied, skipping upgrade: lxml>=4.5.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.6.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22622 sha256=e4c0b248ca276e2e60fdc9e414020c1ff65d3e0333197bf37fdb3a26140ac0c6
  Stored in directory: C:\Users\cryte\AppData\Local\Temp\pip-ephem-wheel-cache-gk7x6j2q\wheels\b4\c3\39\9c01ae2b4726f37024bba5592bec868b47a2fab5a786e8979a
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8372 sha256=82cba18a5b0c4d29506dd181b3fcf3d8957de986c241e549c05fc2a289747664
  Stored in directory: C:\Users\cryte\AppData\Local\Temp\pip-ephem-wheel-cache-gk7x6j2q\wheels\57\6d\a3\a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.55

In [9]:
import datetime
#agrupamiento basado en clustering es decir agrupacion de empresas en caracteristicas similares 
## from pandas.io.data import DataReader #OLD
##sudo pip install pandas-datareader
import pandas_datareader.data as web
import yfinance as yf#accedemos a la api de yahoo
lista_val=["MSFT","AAPL","T","GOOGL", "HPQ","VZ","CVX","ORAN","VOD","JPM","BBVA","RBS","BK"]#lista de empersas a analizar 


def lista_google (dstart,dend):#recibe los valores de la funcion de arriba
 lis=[]
 for i in range(0,len(lista_val)):
     f = yf.download(lista_val[i], dstart,dend)
     #f= web.DataReader(lista_val[i], 'stooq', dstart, dend)  
     print( lista_val[i] +" " + str(len(f['Close'])) +" " + "valores")
     lis.append(f['Close']) #creamos una lista donde guardamos los precios de cierre 
 return lis

lis=lista_google(datetime.datetime(2018, 1, 1),datetime.datetime(2019, 12, 31))

[*********************100%***********************]  1 of 1 completed
MSFT 502 valores
[*********************100%***********************]  1 of 1 completed
AAPL 502 valores
[*********************100%***********************]  1 of 1 completed
T 502 valores
[*********************100%***********************]  1 of 1 completed
GOOGL 502 valores
[*********************100%***********************]  1 of 1 completed
HPQ 502 valores
[*********************100%***********************]  1 of 1 completed
VZ 502 valores
[*********************100%***********************]  1 of 1 completed
CVX 502 valores
[*********************100%***********************]  1 of 1 completed
ORAN 502 valores
[*********************100%***********************]  1 of 1 completed
VOD 502 valores
[*********************100%***********************]  1 of 1 completed
JPM 502 valores
[*********************100%***********************]  1 of 1 completed
BBVA 502 valores
[*********************100%***********************]  1 of 1 completed
RBS 502 valores
[*********************100%***********************]  1 of 1 completed
BK 502 valores

In [7]:
print()

In [18]:
import datetime

## from pandas.io.data import DataReader #OLD
##sudo pip install pandas-datareader
import pandas_datareader.data as web
import fix_yahoo_finance as yf
lista_val=["MSFT","AAPL","T","GOOGL", "HPQ","VZ","CVX","ORAN","VOD","JPM","BBVA","BK"]
#lista_val=["BK"]

def lista_google (dstart,dend):
 lis=[]
 for i in range(0,len(lista_val)):
     f = yf.download(lista_val[i], dstart,dend)
     #f= web.DataReader(lista_val[i], 'stooq', dstart, dend)  
     print( lista_val[i] +" " + str(len(f['Close'])) +" " + "valores")
     lis.append(f['Close']) 
 return lis

lis=lista_google(datetime.datetime(2018, 1, 1),datetime.datetime(2019, 12, 31))

[*********************100%***********************]  1 of 1 downloaded
BK 502 valores

In [14]:
print(type(datetime.datetime(2018, 1, 1)))

<type 'datetime.datetime'>

In [4]:
!pip install datetime

Collecting datetime
  Downloading https://files.pythonhosted.org/packages/73/22/a5297f3a1f92468cc737f8ce7ba6e5f245fcfafeae810ba37bd1039ea01c/DateTime-4.3-py2.py3-none-any.whl (60kB)
     |████████████████████████████████| 61kB 1.7MB/s eta 0:00:011
Requirement already satisfied: pytz in /usr/local/lib/python2.7/dist-packages (from datetime) (2018.9)
Collecting zope.interface
  Downloading https://files.pythonhosted.org/packages/bb/79/6840e9ca1a68717d36248eb15bc4c01a56d252c66f03abc0202cb9ff4cbb/zope.interface-5.1.0-cp27-cp27mu-manylinux2010_x86_64.whl (230kB)
     |████████████████████████████████| 235kB 6.6MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python2.7/dist-packages (from zope.interface->datetime) (44.1.1)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-4.3 zope.interface-5.1.0

El objetivo es utilizar el valor "close" de 2017 y 2018 de los valores de "lista_val" para construir 3 grupos de valores. Así como agrupamiento jerárquico.
Creamos Dataframe Pandas y volcamos info

In [11]:

import pandas as pd
StockValues= pd.DataFrame(columns=lista_val)#creamos un dataframe donde vamos a volvar toda nuestra informacion extraida de la web 
for i in range (len(lista_val)):#iteramos para hacer el volcado 
    StockValues[lista_val[i]]=lis[i]

In [12]:
StockValues

,MSFT,AAPL,T,GOOGL,HPQ,VZ,CVX,ORAN,VOD,JPM,BBVA,RBS,BK
Date,,,,,,,,,,,,,
2018-01-02,85.949997,43.064999,38.540001,1073.209961,21.320000,53.529999,127.580002,17.580000,32.200001,107.949997,8.54,7.67,53.820000
2018-01-03,86.349998,43.057499,37.650002,1091.520020,21.370001,52.430000,128.509995,17.400000,31.990000,108.059998,8.54,7.59,54.150002
2018-01-04,87.110001,43.257500,38.000000,1095.760010,21.530001,52.599998,128.110001,17.530001,32.310001,109.040001,8.68,7.69,54.689999
2018-01-05,88.190002,43.750000,38.139999,1110.290039,21.750000,52.480000,127.900002,17.600000,32.580002,108.339996,8.77,7.63,54.830002
2018-01-08,88.279999,43.587502,38.250000,1114.209961,21.840000,52.389999,128.529999,17.650000,32.669998,108.500000,8.67,7.68,55.060001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-23,157.410004,71.000000,39.070000,1350.630005,20.559999,61.400002,120.330002,14.680000,19.360001,137.199997,5.58,6.30,50.369999
2019-12-24,157.380005,71.067497,38.959999,1344.430054,20.590000,61.279999,120.339996,14.590000,19.350000,137.580002,5.54,6.35,50.349998
2019-12-26,158.669998,72.477501,39.160000,1362.469971,20.690001,61.290001,120.599998,14.640000,19.410000,139.039993,5.59,6.38,50.490002
2019-12-27,158.960007,72.449997,39.240002,1354.640015,20.530001,61.529999,120.300003,14.680000,19.620001,139.139999,5.59,6.35,50.320000
2019-12-30,157.589996,72.879997,39.040001,1339.709961,20.490000,61.209999,119.849998,14.640000,19.340000,138.630005,5.56,6.36,50.180000

Almacenamos el fichero, como csv y como pickle

In [15]:
export_csv = StockValues.to_csv ('dataframe_stock.csv', index = None, header=True) #exportamos toda nuestra info a un fichero csv

import pickle
pickle.dump( StockValues, open( "StockValues.p", "wb" ) )#lo subimos a pickle para manejarlo de una manera mas eficiente 

StockValues2 = pickle.load( open( "StockValues.p", "rb" ) )
stv=pd.read_csv('dataframe_stock.csv')

In [16]:
print(StockValues2)

                  MSFT       AAPL          T        GOOGL        HPQ  \
Date
2018-01-02   85.949997  43.064999  38.540001  1073.209961  21.320000
2018-01-03   86.349998  43.057499  37.650002  1091.520020  21.370001
2018-01-04   87.110001  43.257500  38.000000  1095.760010  21.530001
2018-01-05   88.190002  43.750000  38.139999  1110.290039  21.750000
2018-01-08   88.279999  43.587502  38.250000  1114.209961  21.840000
...                ...        ...        ...          ...        ...
2019-12-23  157.410004  71.000000  39.070000  1350.630005  20.559999
2019-12-24  157.380005  71.067497  38.959999  1344.430054  20.590000
2019-12-26  158.669998  72.477501  39.160000  1362.469971  20.690001
2019-12-27  158.960007  72.449997  39.240002  1354.640015  20.530001
2019-12-30  157.589996  72.879997  39.040001  1339.709961  20.490000

                   VZ         CVX       ORAN        VOD         JPM  BBVA  \
Date
2018-01-02  53.529999  127.580002  17.580000  32.200001  107.949997  8.54
2018-01-03  52.430000  128.509995  17.400000  31.990000  108.059998  8.54
2018-01-04  52.599998  128.110001  17.530001  32.310001  109.040001  8.68
2018-01-05  52.480000  127.900002  17.600000  32.580002  108.339996  8.77
2018-01-08  52.389999  128.529999  17.650000  32.669998  108.500000  8.67
...               ...         ...        ...        ...         ...   ...
2019-12-23  61.400002  120.330002  14.680000  19.360001  137.199997  5.58
2019-12-24  61.279999  120.339996  14.590000  19.350000  137.580002  5.54
2019-12-26  61.290001  120.599998  14.640000  19.410000  139.039993  5.59
2019-12-27  61.529999  120.300003  14.680000  19.620001  139.139999  5.59
2019-12-30  61.209999  119.849998  14.640000  19.340000  138.630005  5.56

             RBS         BK
Date
2018-01-02  7.67  53.820000
2018-01-03  7.59  54.150002
2018-01-04  7.69  54.689999
2018-01-05  7.63  54.830002
2018-01-08  7.68  55.060001
...          ...        ...
2019-12-23  6.30  50.369999
2019-12-24  6.35  50.349998
2019-12-26  6.38  50.490002
2019-12-27  6.35  50.320000
2019-12-30  6.36  50.180000

[502 rows x 13 columns]